# Vivado / Xilinx
*.jou
*.log
*.cache/
*.runs/
*.sim/
*.hw/
*.xpr
*.xsd
*.str
*.ip_user_files/
*.webtalk/
*.Xil/

# General
*.vcd
*.vvp
*.bit
*.mif
*.elf
*.bin
*.hex
*.zip
*.csv

# OS/Editor
.DS_Store
.vscode/
*.swp
*.bak
*.tmp
.idea/

